*{
    margin: 0;
    padding: 0;
}
.fundo{
    background-image: linear-gradient(45deg,rgb(181, 158, 233), rgb(56, 0, 49) );
    height: 100vh;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.calculadora{
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}
.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(126, 119, 123);
    border: none;
    color: rgb(0, 0, 0);
}
.botao:hover{
    background-color: rgb(238, 147, 211);
}
#resultado{
    background-color: rgb(255, 189, 249);
    width: 215px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}